spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ai_no_code_generator
    username: root
    password: 123456
  data:
    redis:
      host: localhost
      port: 6379
      password:
      ttl: 3600
      database: 0
  session:
    store-type: redis
    timeout: 2592000
server:
  port: 8123
  servlet:
    session:
      cookie:
        max-age: 2592000

